body {
    padding: 0;
    margin: 0;
    background-color: #000;
}

div {
    border: solid white 5px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    /* transition-delay: 1s; */
    /* transition-property: all; */
    /* transition-duration: 1s; */
    /* transition-timing-function:ease-in; */
    /* transition-timing-function:ease-out; */
    /* transition-delay: 1s; */
    
    transition: all 1s ease-in-out 1s;
}

#two {
    background-color: blueviolet;
    transition: all 1s ease-in 1s cubic-bezier(0.77, 0, 0.175, 1)
}

div:hover {
    width: 300px;
    height: 300px;
    transition-delay: 1s;
    background-color: greenyellow;
    transform: rotate(-720deg);
    border-radius: 1%;
}



