h1 {
    color: gray;
    font-size: 50px;
    margin: 0;
}

body {
    height: 100vh;
}

/* Start Here */

/* 1 */
@media (max-width: 800px) {
    body {
        background-color: navy;
    }
}
/* 2 */
@media (max-width: 600px) {
    body {
        background-color: orange;
    }
}

/* 3 */
@media (max-width: 600px), (min-height: 400px) {
    #one {
        border: 10px dashed gray;
    }
}

@media (max-width: 600px), (min-height: 400px) {
    #three {
        border: 10px dotted gray;
    }
}

/* 4 */
@media (max-width: 900px), (max-height: 500px) {
    #two {
        border: 10px solid gray;
    }
}

/* 5 */
@media (min-height: 500px) and (max-height: 600px) and (orientation: landscape) {
}

