div :nth-of-type(3) p {
    background: hotpink;
}
div :nth-of-type(3) p {
    background: hotpink;
}
div :nth-of-type(3) p:nth-child(3) {
    background: hotpink;
}
div p em {
    color: seashell;
    font-size: 25px;
}

h1 :hover {
    color:navy;
}

em {
    color:green;
}

:checked {
    margin-left: 40px;
}

a:visited {
    color:blue;
}

h1:hover {
    color:green;
}

body {
    background-color: #CED4D8;
}

h1 {
    color: #AC6AC7;
}

h2 {
    color: rgb(255, 165, 0);
}

p {
    background-color: gold;
}

label {
    border:dotted pink 5px;
}

#first {
    background-color: #fff;
}

#important {
    border:dashed 3px #00f;
}

div p em
    {
    font-size: 30px;
}




