body {
    background-color: green;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  span {
    border: 5px solid white;
    color: white;
    font-size: 50px;
    text-align: center;
  }
  
  section {
    background-color: green;
  
    /* display: grid will create a Grid container (NOTE: This will not immediately change the way elements are displaying unless they are inline elements) */
    display: grid;
  
    /* COLUMNS */
    /* grid-template-columns sets the amount of columns as well as the width of them */
    /* grid-template-columns: 250px 250px 250px; */
    /* grid-template-columns: 50% 50%; */
    /* Fraction (FR) can be used to create columns and distribute space in a CSS Grid */
    /* For this example, the middle column takes up twice as much space as the first or last columns does */
    /* grid-template-columns: 1fr 2fr 1fr; */
  
    /* ROWS */
    /* grid-auto-rows sets a height for all rows in a CSS Grid */
    /* grid-auto-rows: 125px; */
    /* grid-template-rows can be used to set different heights for different rows */
    /* For this example, the first row takes up 50px and the second takes up 200px  */
    /* grid-template-rows: 50px 200px; */
  
    /* GAP */
    /* grid-gap determines the space between columns and rows (grid-row-gap & grid-column-gap can be used to have rows gaps be a different size than column gaps ) */
    /* grid-gap: 20px; */
    /* grid-row-gap: 10px; */
    /* grid-column-gap: 30px; */
  
    /* Grid Template areas can be used to map out your grid. The property grid-area has to be given to each grid element */
  
    /* Has to be a string (inside "") */
    grid-template-areas:
      "one one two two "
      "three three four four"
      "five five six six";
  }
  /* grid-area values has to match string values in grid-template-area values */
  #one {
      grid-area: one;
  }
  #two {
      grid-area: two;
  }
  #three {
      grid-area: three;
  }
  #four {
      grid-area: four;
  }
  #five {
      grid-area: five;
  }
  #six {
      grid-area: six;
  }

  