h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;    text-align: left;

}

p {
    font-size: 25px;
}

#span-one {
    font-size: 4em;
}

#p-two {
    font-style: italic;
}

p {
    line-height: 1.5;
        letter-spacing: 20px;
    font-kerning:10px;
    font-weight: bolder;
    text-align: left;
}

#span-one {
    text-emphasis-color: red;    
    }

body {
    background-color: blue;
    columns: 3;
}

div>h2 , h1 {
    color: yellow;
}   

#lstext {
    color: green;
    font-style: italic;
    font-family: fantasy;
}

#bottomline {
    font-size: 6px;

}

#typehere {
    font-family: cursive;
    font-size: 24px;
}

#morecool {
    font-family: fantasy;
    

}   

#nc {
font-family: fantasy;
font-size: 24px;
}

#fsid {
    border-radius: 10px;
    border-style: dotted;
    border-color: yellowgreen;
    border-spacing: 20px;
}

#h2.yellow {
    background-color: purple;
}