@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Flexbox Container */
.parent{
    width: 100%;
    height: 0px;
    /* Display flex in a parent element */
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    justify-content: space-evenly;
    /* align-items: center;     */
    /* align-items: flex-end; */
    /* flex-direction: column; */
    flex-direction: row-reverse;    
}

html{
    background-color: rgb(19, 3, 44); 
}

p{
    overflow: hidden;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    transform: rotate(-18deg);
    transition-duration: 10s;
    transition-delay: 5s;
    border-radius: 50%;

}

.paragraph{
    background-color: royalblue;
    z-index: 1;
    opacity: 95%;
    columns: 2;
    column-gap: 150px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
    border-radius: 50%;

}

.child-one{
    background-color: rgb(218, 20, 79);
    width: 500px;
    height: 800px; 
    order: 3;
    /* align-self:center; */
    position:static;
    z-index: -2;
    /* opacity: 75%; */
    transform: rotate(18deg);
    border-radius: 50%;
    overflow: hidden;
    

}
.child-two{
    background-color: rgb(26, 12, 158);
    width: 500px;
    height: 800px; 
    order: 2;
    /* align-self:auto; */
    /* position:fixed */
    position:static;
    z-index: -1;
    opacity: 55%;
    border-radius: 50%;
    overflow: hidden;

}
.child-three{
    background-color: rgb(156, 209, 32);
    width: 7    00px;
    height: 800px;
    order: 1;
    /* align-self:auto; */
    position:static;
    z-index: 0;
    opacity: 35%;
    border-radius: 50%;
    overflow: hidden;

}

.parent1{
    width: 100%;
    height: 150px;
    background-color: aqua;
    display: flex;
    flex-grow: initial, 200%;
    rotate: 45deg;
}

.child1{
    width: 25%;
    height: 50px;
    background-color: rgb(119, 79, 20);
    z-index: 1;
    opacity: 75%;
    transform: rotate(-98deg);
    transition-duration: 10s;
    transition-delay: 13s;
    animation-timing-function:ease-in;
    border-radius: 50%;
    overflow: hidden;

}
.child2{
    width: 25%;
    height: 100px;
    background-color: rgb(210, 245, 10);
    z-index: -1;
    opacity: 75%;
    transform: rotate(-70deg);
    transition-duration: 10s;
    transition-delay: 15s;
    animation-timing-function:ease-in;
    border-radius: 50%;
    overflow: hidden;
 
}
.child3{
    width: 25%;
    height: 100px;
    background-color: rgb(245, 245, 3);
    z-index: 1;
    opacity: 75%;
    transform: rotate(50deg);
    transition-duration: 10s;
    transition-delay: 18s;
    animation-timing-function:ease-in;
    border-radius: 50%;
    transform: scaleX(1.5);
    overflow: hidden;

}