@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Flexbox Container */
.parent{
    width: 100%;
    height: 0px;
    /* Display flex in a parent element */
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    justify-content: space-evenly;
    /* align-items: center;     */
    /* align-items: flex-end; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse;     */
}

html{
    background-color: rgb(19, 3, 44); 
}

p{
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

.paragraph{
    background-color: royalblue;
    z-index: -3;
    opacity: 50%;
    columns: 2;
    column-gap: 100px;
    
}

.child-one{
    background-color: rgb(194, 32, 209);
    width: 100px;
    height: 500px; 
    order: 3;
    /* align-self:center; */
    position:sticky;
    z-index: 0;
    

}
.child-two{
    background-color: rgb(32, 174, 209);
    width: 100px;
    height: 650px; 
    order: 2;
    /* align-self:auto; */
    /* position:fixed */
    position:fixed;
    z-index: -1;

}
.child-three{
    background-color: rgb(156, 209, 32);
    width: 10px;
    height: 800PX; 
    order: 1;
    /* align-self:auto; */
    position:fixed;
    z-index: 3;
    
    
    
}

