/* Flexbox Container */
.parent{
    background-color: #000;
    width: 100%;
    height: 500px;

    /* Display flex in a parent element */
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* align-items: center;     */
    /* align-items: flex-end; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse;     */
}

.child-one{
    background-color: rgb(194, 32, 209);
    width: 100px;
    height: 100px; 
    order: 3;
    align-self: center;
}
.child-two{
    background-color: rgb(32, 174, 209);
    width: 100px;
    height: 100px; 
    order: 2;
}
.child-three{
    background-color: rgb(156, 209, 32);
    width: 100px;
    height: 100px; 
    order: 1;
}

