/* INHERITANCE */
/* Certain CSS styles can be inherited */
/* All elements inside the body element/tag inherit the green text color style (Except for the a tags) */
body {
    background-color: blue;
    color: green;
  }
  
  /* SPECIFICITY */
  /* The div element is more specific to the h2 elements because the div is inside the body element (Closer to the h2 elements) */
  div + ol {
    color: purple;
  }
  
  /* h2 is the most specific element selector we can use to style the h2 elements (More specific than the div) */
  h2 {
    color: white;
  }
  #h2id {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
  }
  h3 {
      border-bottom: 5px;
    color: gold;
  }
  h2 + li {
    color: gold;
  }
  
  /* The li elements inside the ol tags inherit the red text color (More specific than the body) */
  ol {
    color: gold;
  }
  
  /* The li elements inside the ul tags inherit the blue text color (More specific than the ol that the ul is nested inside of) */
  ul {
    color: blue;
  }
  
  /* li is the most specific element selector we can use to style the li elements (More specific than the ol OR ul) */
  li {
    color: pink;
  }
  
  /* Class selector is more specific than an element selector (More specific than the li) */
  .hobbit {
    color: navy;
  }
  
  /* ID selector is more specific than a class selector (More specific than .hobbit) */
  #armies {
    color: lawngreen;
  }

/* CHILD SELECTOR */
  div > h2 {
      border-bottom: 5px dashed green;
  }

ul {
    border-bottom: 5px yellow;
}

li:hover {
    background-color: black;
    color: white;
}

ul:nth-child(2) {
    background-color: coral;
}

a:hover {
    background-color: black;
    color: white;
}

