/* Must import font (Press Start 2P) at the start of the CSS file */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h4 {
  font-family: 'Press Start 2P', cursive;

}

/* Personally, I can't stand working on a solid white background. ;) */
body {
    background-color: rgb(52, 52, 199); 
}


h1 {
  /* Google Fonts provides this for us (Copied and pasted from fonts.google.com) */
  font-family: 'Roboto', sans-serif;
  /* font-style: italic; */
  font-weight: 400;
  font-weight: 700;
  /* If you want to have text that is bold and italic you must select that specific font */

}

span {
    font-weight: bold;    

}

h1
{
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    font-variant-caps: all-petite-caps;
    text-decoration: underline;




}




#series-movies {
    font-size: 20px;

}

#top-movies {
    font-size: 4


}

span {
    word-spacing: 200%;




}

